.align-center span {
    display: inline-block;
    vertical-align: middle;
}

.align-center {
    line-height: 60px;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.page-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

.float-right {
    float: right;
}
