{% load static %}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <meta charset="utf-8" />

        <!-- Tab Favicon -->
        <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />

        <!-- Global CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/paperlesspermission.css' %}" type="text/css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

        <!-- Global JS -->
        <script type="text/javascript" src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/sp-1.0.1/datatables.min.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

        <!-- View Level Includes -->
        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include 'paperlesspermission/layouts/navigation.html' %}

        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'paperlesspermission/layouts/footer.html' %}
    </body>
</html>
