{% extends 'paperlesspermission/layouts/base.html' %}

{% block title %}
Paperless Permission - Trips
{%endblock %} <!-- block title -->

{% block content %}

{% load static %}

<div class="row">
    <div class="col">
        <h1 class="page-title">Active Field Trips</h2>
        <table id="active-trips" class="table compact table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Location</th>
                    <th>Start</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>{{ trip.name }}</td>
                        <td>{{ trip.group_name }}</td>
                        <td>{{ trip.location }}</td>
                        <td>{{ trip.start_date }}</td>
                        <td><a href="/trip/{{ trip.id }}"><button>Details</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#active-trips').DataTable();
});
</script>

{% endblock %} <!-- block content -->
