{% load static %}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <meta charset="utf-8" />

        <!-- Tab Favicon -->
        <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />

        <!-- Global CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css" />

        <!-- Global JS -->
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </head>

    <body>
        {% include 'layouts/navigation.html' %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'layouts/footer.html' %}
    </body>
</html>
